<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="/css/styles.css" media="screen" rel="stylesheet" type="text/css"> <title><%= @project_name %> - garaj</title>
  </head>

  <body>
    <div class="container">
      <p class="breadcrumb"><a href="/"><%= @project_name %></a> / <%= @current_path.gsub('/', ' / ') %></p>
      <%= yield %>
      <p class="footer">garaj v<%= Garaj::VERSION %></p>
    </div>
  </body>
</html>
